<html>
    
  <head>
    <meta charset="utf-8">
    <title>index/index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

	<style type="text/css">
	.modal.large{
	    width: 1200px;
	    margin-left: 0px; /* - width/2 */
	    height: 1000px;
	    margin-top: 0px; /* - height/10 */
	}

	.modal.large .modal-body{
	    max-height:900px;/* - height - 100*/
	}
	</style>    
	
	
  </head>
    
    <body>
        
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Smart Login Test</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/index/index">Logout</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
        
    <div class="container" style="padding:120px 0">
        
        <h1>Login complete!! :-></h1>
        
    </div>        
     
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
     <script src="//code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>